{
  "project_info": {
    "project_number": "TU_PROJECT_NUMBER",
    "project_id": "TU_PROJECT_ID",
    "storage_bucket": "TU_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:XXX:android:XXX",
        "android_client_info": {
          "package_name": "com.trueuly.dashboardpro"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REEMPLAZA_CON_TU_API_KEY_DE_FIREBASE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
